/* Overlay gelap */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    backdrop-filter: blur(2px);
    z-index: 20;
}

/* Kotak modal */
.modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    display: none;
    z-index: 21;
    transition: 0.2s ease;
}

/* Input & Label */
.modal-box input,
.modal-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    margin-bottom: 12px;
    outline: none;
}

.modal-box label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Tombol */
.btn-primary {
    background-color: #4c79ff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    background-color: #ddd;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
